main h2 {
  border-bottom: solid 5px;
  padding-bottom: 15px;
  text-align: left;
}

main button {
  text-align: left;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #4056A1;
  border-radius: 10px;
  padding: 8px;
}

.new-tweet form div {
  font-family: 'Bungee';
  display: flex;
  justify-content: space-between;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#tweet-text {
  display: block;
  width: 100%;
}

main textarea {
  width: 70%;
  border: solid 3px #4056A1;
  border-radius: 15px;
  margin-bottom: 4%;
  resize: none;
  max-width: 100%;
  padding: 10px;
}

.tweets-container header p:nth-child(2) {
  color: #a2abce;
}

/* added styles with jQuery */

.no-more-chars {
  color: red;
}

.errors {
  color: red;
  font-weight: 600;
  display: none;
  height: 60px;
}